version https://git-lfs.github.com/spec/v1
oid sha256:da82a15e13b7163aef0def74f6e4e6fc5d1531269562e557084403ff032e62fb
size 39
*.gif !text !filter !merge !diff
*.py !text !filter !merge !diff
*.md !text !filter !merge !diff
config.ini !text !filter !merge !diff
requirements.txt !text !filter !merge !diff
.gitignore !text !filter !merge !diff
*.exe !text !filter !merge !diff
fr/* !text !filter !merge !diff
image !text !filter !merge !diff
.gitattributes !text !filter !merge !diff
source/* !text !filter !merge !diff
output/* !text !filter !merge !diff
